@font-face{
  font-family: "libras";
  src: url('libras.ttf');
}

.custom-navbar {
    background-color: #0389DC; /* Defina a cor de fundo desejada aqui */
    border-bottom: solid 2px black;
    padding: 15px;
    font-family: 'Imprima', sans-serif;
    justify-content: center;
  }
  
.custom-navbar p{
    background-color: #F5EA06;
    border: solid;
    border-radius: 10px;
    font-size: 32px;
}


.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #000; /* Defina a cor dos links aqui */
}
  
  .custom-navbar .nav-link {
    color: black; /* Defina a cor do link ativo aqui */
    -webkit-text-stroke: 0.5px #000;
    margin-left: 8px;
    margin-right: 8px;
  }

  .custom-navbar .nav-link:hover {
    color: #0a03037e; /* Defina a cor do link ativo aqui */
  }
  
  .navbar-toggler {
    border: solid 2px black;
    width: 64px;  /* Ajustando a largura do botão */
    height: 64px; /* Ajustando a altura do botão */
    background-color: yellow;
    border-radius: 16px; /* Ajustando para bordas completamente arredondadas */
    padding: 8px 8px;  /* Ajuste no padding para centralizar o ícone */
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-image: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/* Todas páginas */

.h2-style{
  font-family: 'Imprima', sans-serif;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 24vh;
} 

/* Corpo da página inicial */

body {
  background-color: #F5EA06;
}

.navbar {
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  border: none;
}

.card-title{
  font-family: 'Imprima', sans-serif;
  background-color: orange;
  font-size: 28px;
  border: solid 2px black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 0vh;

}

.card-body {
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}


.card-style{
  border: solid 2px black;
  background: #5CDB56;

}

.col{
  margin-top: 2vh;
  margin-bottom: 0vh;
}

.text-area-pt{
  width: 100%;
  font-family: 'Imprima', sans-serif;
  border: solid 2px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  font-size: 24px;
  text-align: center;
}

.text-area-lb{
  width: 100%;
  border: solid 2px black;
  font-family: 'libras', sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  font-size: 24px;
  text-align: center;
}